
    <%- include("layout/header") %>
   
        <form action="/index" method="POST" class="form">
            <p>insert text,url etc... in the below textarea</p>
            <div class="textarea">
            
                <textarea name="text" id="text" cols="135" rows="17" placeholder="insert">
                </textarea>
            </div>
            
            <br>
            <br>
            <div class="btngen">
                <button type="submit" class="btn btn-primary">Generate</button>
            </div>
            
        </form>
        

    </div>
    <%- include("layout/footer") %>