<%- include("layout/header") %>

    <div class="container">
        <img src =<%= qrGen %> alt ="QR code">
       
        <p>scann by your phone barcode</p>
        
        <a href="/" role="button" class="btn btn-primary">ወደ ኋላ</a>
    </div>
    <p> if you need to dawnload the image right click and save as</p>

    <%- include("layout/footer") %>